.item-heading {
    font: var(--tui-font-heading-3);
}

.small-font {
    font: var(--tui-font-text-s);
    font-weight: lighter;
}

.limited-width {
    max-width: 700px;
}

.clickable {
    cursor: pointer;
}

.mesh-viewer {
    width: 220px;
    height: 220px;
}
