<tui-elastic-container>
    <div class="d-flex flex-column justify-content-center align-items-center m-5">
        <tui-island tuiCarouselButtons
             class="d-flex flex-column justify-content-center align-items-center w-100
                 px-4 m-5 subtle-shadow-static"
             style="min-width: 400px">
            <div>
                <h4 class="text-center">Begin Your 3D Journey</h4>
                <h5 class="tui-space_top-3 text-center">Quality Prints | Friendly Prices</h5>
                <hr class="title-divider">
            </div>

            <div tuiCarouselButtons class="d-flex flex-row justify-content-center align-items-center w-100">
                <div>
                    <button tuiIconButton
                            class="flex-grow-1"
                            icon="tuiIconChevronLeftLarge"
                            title="Previous" type="button"
                            (click)="activeIndex === 0 ? activeIndex = itemCount - visibleItemCount : carousel.prev(); autoScroll = false">
                    </button>
                </div>
                <div #carouselParent class="flex-grow-1 min-width-zero">
                    <tui-loader [showLoader]="loadingItems" class="w-100">
                        <tui-carousel #carousel class="carousel"
                                      [itemsCount]="visibleItemCount"
                                      [(index)]="activeIndex"
                                      [draggable]="true"
                                      [duration]="autoScroll ? 3000 : 0"
                                      (click)="autoScroll=false"
                                      (indexChange)="onIndexChange($event)">
                            <ng-container *ngFor="let item of (galleryItems$ | async); let i = index">
                                <tui-island *tuiItem
                                            class="d-flex flex-column justify-content-center align-items-center
                                                   very-subtle-shadow w-100 m-5
                                                   align-self-center gallery-item">
                                    <h2 class="tui-island__title">{{item.name}}</h2>
                                    <img [ngSrc]="item.img"
                                         class="island-rounding"
                                         [width]="imageWidth" [height]="imageHeight"
                                         [draggable]="false">
                                    <p class="tui-space_top-2">
                                        {{item.description}}
                                    </p>

                                    <tui-money [value]="item.costAmount / 100"
                                               [currency]="item.costCurrency">
                                    </tui-money>
                                    <div class="tui-space_top-2">
                                        <button tuiButton type="button"
                                                size="m" [icon]="cartIcon">
                                            Add to cart
                                        </button>
                                    </div>
                                </tui-island>
                            </ng-container>
                        </tui-carousel>
                    </tui-loader>
                </div>
                <div>
                    <button tuiIconButton
                            class="flex-grow-1"
                            type="button"
                            icon="tuiIconChevronRightLarge"
                            title="Next"
                            (click)="carousel.next(); autoScroll = false">
                    </button>
                </div>
            </div>
        </tui-island>
    </div>
</tui-elastic-container>

<ng-template #cartIcon>
    <i class="bi bi-cart4"></i>
</ng-template>
