.original-price {
    text-decoration: line-through;
    font-size: smaller;
    color: grey;
}

.reduced-price {
    font-size: larger;
    font-weight: bold;
    color: green;
}

.single-price {
    font-size: medium;
}
