.title-divider {
  border: 0; /* Remove default border */
  height: 3px; /* Set the height of the divider */
  background-image: linear-gradient(to right, #0099ff, #ff3399); /* Gradient effect */
  width: 50%; /* Set the width to 50% of the parent container */
}

.negative-margin {
  margin-bottom: -2rem;
}

.gallery-item {
  box-sizing: border-box;
}

.item-details-container {
    width: 90%;
}

.top-header {
    max-width: 100%;
    min-width: max-content;
}

.limited-width {
    max-width: 2000px;
}

.featuredItem {
    color: var(--tui-positive);
    font-weight: bold;
}
