<div [class]="styleClass + ' h-100 w-100 haus-card subtle-shadow'">
        <tui-loader class="h-100 w-100"
                    [overlay]="true"
                    [inheritColor]="true"
                    [showLoader]="(loadingFile$ | async | tuiIsPresent) || loadingPrintDetails">
            <form [formGroup]="printForm" class="h-100">
                <div class="d-flex flex-column h-100">
                    <h4 class="text-center">Load your own model</h4>

                    <tui-input-files class="p-2"
                                     *ngIf="!printForm.get(FIELDS.FILE)!.value"
                                     [formControlName]="FIELDS.FILE"
                                     [accept]="ACCEPTS_HEADER"
                                     (reject)="onReject($event)"
                                     [maxFileSize]="maxFileSize">
                    </tui-input-files>

                    <tui-files class="p-1">
                        <tui-file
                            *ngIf="loadedFile$ | async as file"
                            state="normal"
                            [file]="file"
                            [showDelete]="printForm.get(FIELDS.FILE)!.enabled"
                            (removed)="removeFile()"
                        ></tui-file>

                        <tui-file
                            *ngIf="rejectedFile$ | async as file"
                            state="error"
                            [file]="file"
                            [showDelete]="printForm.get(FIELDS.FILE)!.enabled"
                            (removed)="clearRejected()"
                        ></tui-file>
                    </tui-files>

                    <haus-print-details styleClass="tui-space_vertical-2" class="details-fixed-height"
                                        [printDimensions]="printDimensions"
                                        [printDetails]="printDetailsResponse$ | async">
                    </haus-print-details>

                    <haus-model-viewer class="flex-fill min-height-0"
                                       [mesh]="loadedMesh$ | async"
                                       [materialColor]="printForm.get(FIELDS.MATERIAL)?.value.color"
                                       [normalScale]="(normalMapScale$ | async) || PRINT_QUALITY_NORMAL_MAP_SCALE[DEFAULT_PRINT_QUALITY]">
                    </haus-model-viewer>

                    <div tuiGroup class="group tui-space_vertical-4">
                        <tui-select [formControlName]="FIELDS.MATERIAL"
                                    [valueContent]="materialContentShort"
                                    [tuiTextfieldSize]="isMobile ? 'm' : 'l'">
                            Material
                            <tui-data-list-wrapper *tuiDataList
                                                   [items]="materials" [labels]="materialLabels"
                                                   [itemContent]="materialContent">
                            </tui-data-list-wrapper>
                        </tui-select>

                        <tui-select [formControlName]="FIELDS.QUALITY"
                                    [valueContent]="qualityContent"
                                    [tuiTextfieldSize]="isMobile ? 'm' : 'l'">
                            Quality
                            <tui-data-list-wrapper *tuiDataList [items]="qualityList" [itemContent]="qualityContent">
                            </tui-data-list-wrapper>
                        </tui-select>

                        <tui-select [formControlName]="FIELDS.STRENGTH"
                                    [valueContent]="strengthContent"
                                    [tuiTextfieldSize]="isMobile ? 'm' : 'l'">
                            Strength
                            <tui-data-list-wrapper *tuiDataList [items]="strengthList" [itemContent]="strengthContent">
                            </tui-data-list-wrapper>
                        </tui-select>
                    </div>

                    <div class="d-flex justify-content-center">
                        <haus-buy-button *ngIf="(printDetailsResponse$ | async) as printDetails"
                                         [size]="isMobile ? 'm' : 'l'"
                                         [unitCost]="printDetails.cost.amount / 100"
                                         [costCurrency]="printDetails.cost.currency">
                        </haus-buy-button>
                    </div>
                </div>
            </form>
        </tui-loader>
</div>

<ng-template #plusIcon>
    <i class="bi bi-arrow-return-left"></i>
</ng-template>

<ng-template #materialContent let-item>
    <div *ngIf="item" class="d-flex flex-row align-items-center w-100">
        <haus-material-tag [name]="item.name"
                           [color]="item.color"
                           [size]="isMobile ? 's' : 'm'"
                           [showPointer]="true">
        </haus-material-tag>
    </div>
</ng-template>

<ng-template #materialContentShort let-item>
    <div *ngIf="item" class="d-flex flex-row align-items-center w-100">
        <haus-material-tag [name]="item.name"
                           [color]="item.color"
                           [size]="isMobile ? 's' : 'm'"
                           [showPointer]="false">
        </haus-material-tag>
    </div>
</ng-template>

<ng-template #qualityContent let-item>
    <div *ngIf="item" [tuiTextfieldSize]="isMobile ? 's' : 'm'">
        {{item | replaceUnderscore | titlecase}}
    </div>
</ng-template>

<ng-template #strengthContent let-item>
    <div *ngIf="item">
        {{item | replaceUnderscore | titlecase}}
    </div>
</ng-template>


