:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.details-fixed-height {
  height: 100px;
}

.buy-button {
    width: 33.33%;
    min-width: 170px;
}
