<div [class]="'d-flex flex-column justify-content-between mx-auto p-1 ' + styleClass">
    <div>&nbsp;</div>

    <div data-aos="zoom-out">
        <div class="d-flex flex-row justify-content-center">
            <h1>Welcome to </h1>
            <h1 class="d-flex flex-row mx-2">
                <div class="nut-rotate mx-1">
                    <i class="bi bi-nut nut-rotate"></i>
                </div>
                Printnuts
            </h1>
        </div>

        <h2 class="mt-3 text-center">
            Where creativity meets affordability in 3D printing
        </h2>
    </div>

    <h6 data-aos="zoom-out-down" class="text-center mb-5 border-1 rounded-3">
        Ready to bring your designs to life? Scroll down to get started...
    </h6>
</div>


