<nut-toolbar class="fixed-top"></nut-toolbar>

<ng-particles
  id="background"
  [url]="particleConfigPath"
  [particlesInit]="particlesInit">

</ng-particles>

<div class="parent-snap-scroll">
    <section class="fullscreen child-snap-scroll position-relative">
        <nut-dashboard-intro class="w-100 h-100 " styleClass="w-100 h-100 toolbar-offset"></nut-dashboard-intro>
    </section>


    <section class="fullscreen container child-snap-scroll position-relative
                    d-flex flex-column justify-content-center align-items-center toolbar-offset" data-aos="fade-down" data-aos-offset="10" data-aos-mirror="true">
        <haus-model-upload class="col-12 col-md-12 col-lg-8 col-xl-6" styleClass="toolbar-offset"></haus-model-upload>
    </section>
</div>



