<div class="d-flex flex-row justify-content-between">
  <div #leftToolbar class="p-3">
    <h3 class="d-flex flex-row">
      <div class="nut-rotate mx-1">
        <i class="bi bi-nut nut-rotate"></i>
      </div>
      Printnuts
    </h3>
  </div>

  <div #rightToolbar class="p-3">
    <tui-tabs>
      <button tuiTab>
        <i class="bi bi-cash mx-1"></i>
        Quote
      </button>
      <button tuiTab>
        <i class="bi bi-cart4 mx-1"></i>
        Shop
      </button>
      <button tuiTab>
        <i class="bi bi-images mx-1"></i>
        Gallery
      </button>
      <button tuiTab>
        <i class="bi bi-info-circle mx-1"></i>
        Contact
      </button>
    </tui-tabs>
  </div>

</div>
