<div class="d-flex flex-row justify-content-between nut-toolbar shadow">
    <div #leftToolbar class="p-3 d-flex justify-content-start align-items-center flex-grow-0">
        <h3 class="d-flex flex-row align-items-center m-0">
            <div class="nut-rotate mx-1">
                <i class="bi bi-nut nut-rotate"></i>
            </div>
            Printhaus
        </h3>
    </div>

    <div #rightToolbar class="d-flex justify-content-end align-items-center p-3 w-100">
        <tui-tabs-with-more class="w-100 justify-content-end shadow-none min-width-zero"
                            [itemsLimit]="10"
                            [moreContent]="dropdownIcon">
            <a *tuiItem tuiTab
                    [routerLink]="SECTIONS_METADATA.dashboard.path"
                    [fragment]="SECTIONS_METADATA.dashboard.fragment"
                    routerLinkActive [routerLinkActiveOptions]="URL_MATCH_OPTIONS">
                <i class="bi bi-house mx-1"></i>
                Home
            </a>
            <button *tuiItem tuiTab
                    [routerLink]="SECTIONS_METADATA.modelUpload.path"
                    [fragment]="SECTIONS_METADATA.modelUpload.fragment"
                    routerLinkActive [routerLinkActiveOptions]="URL_MATCH_OPTIONS">
                <i class="bi bi-cash mx-1"></i>
                Quote
            </button>
            <button *tuiItem tuiTab
                    [routerLink]="SECTIONS_METADATA.shop.path"
                    [fragment]="SECTIONS_METADATA.shop.fragment"
                    routerLinkActive [routerLinkActiveOptions]="URL_MATCH_OPTIONS">
                <i class="bi bi-cart4 mx-1"></i>
                Shop
            </button>
            <button *tuiItem tuiTab
                    [routerLink]="SECTIONS_METADATA.gallery.path"
                    [fragment]="SECTIONS_METADATA.gallery.fragment"
                    routerLinkActive [routerLinkActiveOptions]="URL_MATCH_OPTIONS">
                <i class="bi bi-images mx-1"></i>
                Gallery
            </button>
            <button *tuiItem tuiTab
                    [routerLink]="SECTIONS_METADATA.contact.path"
                    [fragment]="SECTIONS_METADATA.contact.fragment"
                    routerLinkActive [routerLinkActiveOptions]="URL_MATCH_OPTIONS">
                <i class="bi bi-info-circle mx-1"></i>
                Contact
            </button>

        </tui-tabs-with-more>
        <haus-user-badge *tuiItem class="mx-3">

        </haus-user-badge>
    </div>

</div>

<ng-template #dropdownIcon>
<!--    <i class="bi bi-list"></i>-->
    <tui-svg src="tuiIconMoreHorizontalLarge"></tui-svg>
</ng-template>
