.control {
  margin: 1rem;
}

.settings-container {
  max-width: 30.25rem;
}

.fixed-aspect-ratio {
  aspect-ratio: 1/1;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
